<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/dpostigo/Development/IADT</string>
		<string>/Users/dpostigo/Development/IADT/IADT/IADT/src/toolkit/SMPageControl</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-01-31T01:20:57Z</date>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
